[Unit]
Description=rotinasAposCadastro

[Service]
Type=simple
ExecStart=/usr/bin/php7.4 -d "default_socket_timeout=-1" -f /var/www/html/src/workers/rotinasCadastro.daemon.service
Restart=always

[Install]
WantedBy=multi-user.target